**/venv/
**/.venv/


**/__pycache__/
**/.vscode/
**/.idea/

**/*.pyc
**/.pyo
**/*.log
**/*.sqlite3

# LaTex
**/*.aux
**/*.bbl
**/*.bib
**/*.blg
**/*.bst
**/*.out
**/*.sty
**/*.tex


**/dataset/
MachineLearning/Marcombo/Marcombo_Book